<h1>Lista de Productos</h1>
<ul>
    {{#each products}}
        <li>
            <strong>{{this.title}}</strong> (ID: {{this.id}})<br>
            Descripción: {{this.description}}<br>
            Precio: ${{this.price}}<br>
            Categoría: {{this.category}}<br>
            Stock: {{this.stock}}
        </li>
    {{/each}}
</ul>